/* src/App.css */

/* Container principal da Aplicação */
#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

h1 {
  color: var(--primary-color);
  font-size: 3.2em;
  line-height: 1.1;
}

/* --- Formulário (TaskForm) --- */
form {
  display: flex;
  gap: 10px;
  margin-bottom: 2rem;
}

/* --- MUDANÇA AQUI --- */
form input,
form select {
  flex: 1; /* Faz os inputs e o select crescerem */
  background-color: var(--dark-card-bg);
}

form button {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}
form button:hover {
  background-color: #36a171;
  border-color: #36a171;
}

/* --- Lista de Tarefas (TaskList) --- */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

/* --- Item da Tarefa (TaskItem) --- */
.task-item {
  background-color: var(--dark-card-bg);
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.task-item .task-info {
  flex: 1;
}

.task-item h3 {
  margin: 0 0 5px 0;
  font-size: 1.25rem;
}

.task-item p {
  margin: 0;
  color: var(--text-color-light);
  font-style: italic;
}

.task-item .task-actions {
  display: flex;
  gap: 10px;
}

.task-item .task-actions button {
  padding: 0.5em 1em;
  font-size: 0.9em;
}

.task-item .task-actions .btn-delete {
  background-color: var(--danger-color);
  color: white;
}
.task-item .task-actions .btn-toggle {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.task-item .task-actions .btn-toggle:hover {
  background-color: var(--primary-color);
  color: white;
}

/* --- Estilo da Tarefa Concluída --- */
.task-item.concluded {
  opacity: 0.6;
}

.task-item.concluded h3,
.task-item.concluded p {
  text-decoration: line-through;
}

.task-item.concluded .btn-toggle {
  background-color: transparent;
  border: 1px solid var(--text-color-light);
  color: var(--text-color-light);
}
.task-item.concluded .btn-toggle:hover {
  background-color: var(--text-color-light);
  color: var(--dark-bg);
}
