/* src/index.css */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Nossas Cores */
  --primary-color: #42b883; /* Verde "Eco" */
  --danger-color: #e74c3c;
  --dark-bg: #242424;
  --dark-card-bg: #2f2f2f;
  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-light: #888;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--dark-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 4rem; /* Espaço do topo */
}

/* Estilos de botões globais */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  filter: brightness(1.2);
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*Inputs e Formulários */
input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: var(--text-color);
  transition: border-color 0.25s;
}
input:focus {
  border-color: var(--primary-color);
  outline: none;
}
